<!DOCTYPE html>
<head>
    <title>pollParty</title>

    <!-- Copied from Dr. J's Twit -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<!--Displays this poll's details -->
<body>
<h1> {{ poll.pollText }} </h1>
<small> By {{ firstName }} {{ lastName }} </small> <br/>
<!-- Poll Up Votes -->
<span> <small>👍 {{ poll.upVotes.count }}</small></span>

<!-- Poll Down Votes -->
<span> <small>👎 {{ poll.downVotes.count }}</small></span>
<br/>
<hr>

<!-- Vote -->
{% if user.is_authenticated %}
    <!-- Up Vote -->
    {% if user in poll.upVotes.all or user in poll.downVotes.all %}
        <p> You have already voted. </p>
    {% else %}
        <form action="{% url 'upvote' poll.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Up Vote (👍)">
        </form>
        <br />

        <!-- Down Vote -->
        <form action="{% url 'downvote' poll.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Down Vote (👎)">
        </form>
    {% endif %}

    {% if user == poll.userPosted %}
        <form action="{% url 'deletepost' poll.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete Post">
        </form>
    {% endif %}


{% else %}
<p>Please log in <a href="/accounts/login/"> here </a> with an account that has access to vote.</p>

{% endif %}

<a href="{% url 'index' %}">Back</a>

