<!DOCTYPE html>
<head>
    <title>pollParty</title>

    <!-- Copied from Dr. J's Twit -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<!--Displays this poll's details -->
<body>
<h1> {{ poll.pollText }} </h1>
<small> By {{ firstName }} {{ lastName }} </small> <br/>
<!-- Poll Up Votes -->
<span> <small>👍 {% if poll.upVotes_set.exists %}
                                {{ poll.upVotes_set }}
                         {% else %}
                                0
                         {% endif %}
            </small>
        <!-- Poll Down Votes -->
        <span> <small>👎 {% if poll.downVotes_set.exists %}
                                {{ poll.downVotes_set }}
                         {% else %}
                                0
                         {% endif %}
            </small>
        </span>
</span>
<br/>
<hr>

<!-- Vote -->
{% if user.is_authenticated %}
    <!-- Up Vote -->
    <form action="{% url 'upvote' poll.pk %}" method="post">
        {% csrf_token %}
    <input type="submit" value="Up Vote (👍)">
    </form>
    <br />

    <!-- Down Vote -->
    <form action="{% url 'downvote' poll.pk %}" method="post">
        {% csrf_token %}
    <input type="submit" value="Down Vote (👎)">
    </form>

{% else %}
<p>Please log in <a href="/accounts/login/"> here </a> with an account that has access to vote.</p>

{% endif %}

<a href="{% url 'index' %}">Back</a>

