<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    {% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div>
                    <strong>{{ error|escape }}</strong><hr>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>
               <strong>{{ error|escape }}</strong><hr>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}
</body>
</html>